body>div:not(.show),
#countdownLetter:not(.show),
#countdownSentence:not(.show) {
    display: none;
}

@font-face {
    font-family: worldAthletics;
    src: url("WorldAthleticsHeadline.woff2");
}

html,
body {
    font-family: worldAthletics;
    background-color: #333;
    margin: 0;
    padding: 0;
    --pink: #bd94ff;
    --blue: #69d7e1;
    --orange: #ff873c;
    --green: #a5fa64;
}

button {
    font-family: worldAthletics;
    text-align: left;
}

#gameOverLetter:not(.show),
#gameOverSentence:not(.show) {
    display: none;
}

.green {
    color: var(--orange);
}

h1 {
    background-color: var(--pink);
    width: calc(100% - 26px);
    max-width: 1000px;
    padding: 10px;
    margin: 3px;
}

.grid {
    display: inline-block;
    background-color: #111;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin: 3px;
    border: none;
}

.large {
    width: calc(100% - 62px);
    max-width: 964px;
}

.bottom {
    border-top: solid 3px var(--pink);
    display: inline-block;
    background-color: #111;
    color: var(--pink);
    padding: 10px;
}

#gameLetter .bottom {
    border-top: solid 3px var(--blue);
    color: var(--blue)
}

#gameSentence .bottom {
    border-top: solid 3px var(--orange);
    color: var(--orange)
}

#leaderboard .bottom {
    border-top: solid 3px var(--green);
    color: var(--green)
}

#countdownLetter,
#countdownSentence {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 300px;
    color: black;
    padding: 10px;
    text-align: right;
}

#countdownLetter {
    background-color: var(--blue);
}

#countdownSentence {
    background-color: var(--orange);
}

#gameOverLetter,
#gameOverSentence {
    position: absolute;
    bottom: 10px;
    width: 100vw;
    max-width: 1000px;
    text-align: left;
}

#gameOverLetter h1 {
    background-color: var(--blue);
}

#gameOverSentence h1 {
    background-color: var(--orange);
}

#leaderboard h1 {
    background-color: var(--green);
}

.main {
    background-color: #111;
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    width: 100px;
    height: 100px;
}

.key {
    font-size: 50px;
}

#gameLetter {
    text-align: center;
}

.score {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
}

.name {
    width: 300px;
    color: black;
    padding: 10px;
    margin: 3px;
}

#gameLetter .name {
    background-color: var(--blue);
}

#gameSentence .name {
    background-color: var(--orange);
}

#menu .name {
    background-color: var(--pink);
    position: absolute;
    bottom: 10px;
    left: 10px;
}

input {
    border: none;
    background-color: transparent;
    font-family: worldAthletics;
    outline: none;
}

.small {
    width: 65px;
}

.big {
    width: 209px;
    text-align: right;
}

.medium {
    width: 494px;
}

.fill {
    width: 862px;
}

.quit {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    background-color: #111;
    color: white;
    padding: 10px;
}

.quit:not(.show) {
    display: none;
}

#sentence,
.light {
    text-align: center;
    font-size: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.light {
    margin-top: 190px;
    color: lightgray;
}

#sentence {
    color: white;
}

td,
th {
    height: 44px;
    padding: 3px;
    background: #111;
}

td:first-of-type,
th:first-of-type {
    width: 44px;
}

td:nth-of-type(2),
th:nth-of-type(2) {
    width: 442px;
}

#leaderboard table td:nth-of-type(3),
#leaderboard table td:nth-of-type(4),
#leaderboard table th:nth-of-type(3),
#leaderboard table th:nth-of-type(4) {
    width: 254px;
}

#menu table td:nth-of-type(3),
#menu table th:nth-of-type(3) {
    width: 514px;
}

#menu table td:nth-of-type(3),
#menu table td:first-of-type,
#leaderboard table td:first-of-type,
#leaderboard table td:nth-of-type(3),
#leaderboard table td:nth-of-type(4) {
    text-align: center;
}

th {
    color: lightgray;
}

td {
    color: white;
}

#leaderboard h1:first-of-type {
    margin-top: 60px;
}

#gameOverLetter.show+.score,
#gameOverSentence.show+.score {
    display: none;
}